/*** smartphone device only ***/
@media (max-width: 600px) {
  .footer-menu ul {
    display: flex;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-menu p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .jumbotron h3 {
    font-size: 25px;
  }
  .jumbotron p {
    font-size: 15px;
  }
}
